@import "~styles/mixins/shadows";

.cell {
  padding: 0 4px 0 4px;

  outline: 1px solid #CCCCCC;
  
  white-space: pre;
  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &--positionIndicator {
    text-align: center;

    &-active {
      color: white;
      background-color: #4F4F4F;

      outline: 2px solid gray;
      outline-offset: -2px;
    }

    &-inactive {
      background-color: #F7F8F9;
    }
  }

  &--active {
    outline: 2px #1A73E8 solid;
    outline-offset: -2px;
  }

  &--edit {
    @include shadow;

    padding-left: 3px;

    outline: 2px #1A73E8 solid;
    outline-offset: -2px;
  }
}