.cell {
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 0 4px 0 4px;
  
  white-space: pre;
  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &--positionIndicator {
    text-align: center;
    background-color: #F7F8F9;
  }

  &--active {
    background-color: #87CEFA;
  }
}