.cell {
  padding: 0 4px 0 4px;

  outline: 1px solid #CCCCCC;
  
  white-space: pre;
  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &--positionIndicator {
    text-align: center;
    background-color: #F7F8F9;
  }

  &--active {
    outline: 2px #5292F7 solid;
    outline-offset: -2px;

    // width: 100%;
    box-sizing: border-box;
  }

  &--edit {
    padding-left: 3px;

    outline: 2px #1A73E8 solid;
    outline-offset: -2px;
  }
}