.selectionArea {
  z-index: 100000;
  position: absolute;
  border-width: 1px;
  border-color: rgba(75, 135, 255, 0.95);
  background: rgba(3, 169, 244, 0.05);
  pointer-events: none;
}

.activeCell {
  z-index: 100000;
  position: absolute;
  border: 2px solid rgba(75, 135, 255, 0.95);
  pointer-events: none;
}