.selectionArea {
  position: absolute;
  background: rgba(3, 169, 244, 0.05);
  pointer-events: none;
}

.activeCell {
  position: absolute;
  border: 2px solid rgba(75, 135, 255, 0.95);
  pointer-events: none;
}