.selectionPane {
  z-Index: 100000;
  position: absolute;
  border: 2px solid rgba(75, 135, 255, 0.95);
  background: rgba(3, 169, 244, 0.05);
  // pointer-events: none;;
  // display: none;
  // transition: all 0.1s,
}

// zIndex: 100000,
// position: 'absolute',
// border: '2px solid rgba(75, 135, 255, 0.95)',
// background: 'rgba(3, 169, 244, 0.05)',
// pointerEvents: 'none',
// display: 'none',
// transition: 'all 0.1s',