@import "~@styles/mixins/layouts";

.register {
  @include center;

  &__container {
    width: 1200px !important;
    height: fit-content;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
  
    padding: 50px;
  }

  &__field {
    margin-top: 10px !important;
    flex-flow: column nowrap;
    width: 400px;
    height: auto;
    margin-bottom: 10px !important;
    padding: 5px;
  }

  
  &__button {
    margin-top: 5px !important;

    border-radius: 3px !important;
  }
}

.emailVerification {
  padding: 20px;
}