.excelIconButton {
  margin: 0 10px 10px 10px;

  &__icon {
    color: #22A463;
    height: 40px;
    width: 40px;
  }
}

.appBar {
  display: flex;
  flex-flow: row nowrap;
  
  margin-top: 10px;

  &__menu {
    display: flex;
    width: fit-content;
    
    & button {
      &:focus {
        outline: none;
      }
    }
  }

  &__title {
    & input {
      padding: 2px 10px 2px 10px;
      border: 2px solid #FFF0;
  
      border-radius: 3px;
      &:hover {
        border: 2px solid #E5E5E5;
      }
    
      &:focus {
        border: 2px solid #1A73E8;
      }
    }
  }
}
