@import "~styles/mixins/shadows";

.activeCell {
  position: absolute;
  border: 2px solid rgba(75, 135, 255, 0.95);
  
  &--editMode {
    @include shadow;
    
    height: fit-content !important;
    width: fit-content !important;
    background-color: white;
    z-index: 1;
  }

  &--normalMode {
    pointer-events: none;
  }
}