.excel {
  background-color: white;
  // height: 100%v;
  display: flex;
  flex-flow: column nowrap;
}

.divider {
  margin: 0;
  background-color: #EEEEEE;
  border: none;
  color: #EEEEEE;
  height: 2px;
}