.bundlePhase {
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: fit-content;
}

.bundleWorkbooks {
  &__workbook {
    border-radius: 3px !important;
    margin: 0 3px;
  }
}

.bundleHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bundleActions {
  margin-top: 20px;
}

.bundleMisc {
  margin-bottom: 20px;
}

.field {
  margin-top: 20px;
  display: flex;

  width: 100%;

  &__input {
    margin: auto 0;
  }

  &__label {
    text-align: center;

    height: fit-content;
    
    margin-right: 15px;

    min-width: 150px;

    background-color: #3F51B5;
    border-radius: 3px;

    padding: 7px 11px;
    color: white;
  }

  &__select {
    width: 100%;
    background-color: white;
  }
}
