@import "~styles/mixins/layouts";

.register {
  @include center;

  &__container {
    width: 500px !important;
    height: fit-content;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
  
    padding: 50px;
  }

  &__field {
    margin-bottom: 10px !important;
  }
  
  &__button {
    margin-top: 5px !important;

    border-radius: 3px !important;
  }
}

.emailVerification {
  padding: 20px;
}