.entitiesContent {
  display: flex;
}

.userEntitiesContent {
  width: 300px;
  margin-right: 10px;

  &__items {
    height: 500px;
    overflow: auto;
  }

  &__header {
    margin-bottom: 20px;
  }
}

.allEntitiesContent {
  width: 300px;
  margin-left: 10px;
  
  &__items {
    height: 500px;
    overflow: auto;
  }

  &__header {
    margin-bottom: 20px;
  }
}

.verticalSeparator {
  border: 1px solid black;

  margin: 0 auto;
}