.entitiesContent {
  display: flex;
}

.entity {
  min-width: 50%;
  width: 300px;

  &--user {
    padding-right: 10px;
  }

  &--all {
    padding-left: 10px;
  }

  &__items {
    overflow: auto;
    max-height: 300px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__placeholder {
    z-index: 0;
  }
}

.verticalSeparator {
  border: 1px solid black;

  margin: 0 auto;
}