@import "~font-awesome/css/font-awesome.min.css";
@import "~@coreui/coreui/scss/coreui.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.appContainer {
  min-height: fit-content;
  height: 100vh;
}

.app {
  min-width: fit-content;
  min-height: fit-content;

  height: 100vh;
  
  &__page {
    height: 100%;
    min-height: fit-content;
    min-width: fit-content;

    &--online {
      display: flex;
    }
  }
}

.appPage {
  margin: 20px;
  width: 100%;
}