@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./scss/style.scss";

.app {
  &--online {
    height: 100vh;
  }

  &__page {
    height: 100%;

    &--online {
      display: flex;
    }
  }
}
