.organizationsContent {
  display: flex;
}

.userOrganizationsContent {
  width: 300px;
  margin-right: 10px;
}

.allOrganizationsContent {
  width: 300px;
  margin-left: 10px;
}

.verticalSeparator {
  border: 1px solid black;

  margin: 0 auto;
}