.formRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tableWrapper {
    display: flex;
    width: 100%;
    padding: 0.5%;
    justify-content: space-between;
}

MaterialTable {
    margin: 0.5%;
    border: 0.5%;
}

form {
    padding: 1%;
}

input {
    width: 100%;
}