@import "~styles/mixins/shadows";

.selectionArea {
  position: absolute;
  background-color: rgba(3, 169, 244, 0.05);
  pointer-events: none;
}

.activeCell {
  position: absolute;
  border: 2px solid rgba(75, 135, 255, 0.95);

  &--editMode {
    @include shadow;
  }

  &--normalMode {
    pointer-events: none;
  }
}

.activeHeader {
  position: absolute;
  background-color: rgba(41, 41, 41, 0.05);
  pointer-events: none;
}